.calorie-calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aquamarine;
}

.calorie-calculator label {
    display: block;
    margin-bottom: 0.5rem;
}
.calc_btn{
    background-color:#0e7640 !important; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.calorie-calculator input[type="number"] {
    padding: 0.5rem;
    border: none;
    border-radius: 0.25rem;
    background-color: #f2f2f2;
}

.calorie-calculator select {
    padding: 0.5rem;
    border: none;
    border-radius: 0.25rem;
    background-color: #f2f2f2;
}

.calorie-calculator button[type="submit"] {
    padding: 0.5rem;
    border: none;
    border-radius: 0.25rem;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.calorie-calculator p {
    margin-top: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
}