@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --primary-font: "Lexend", sans-serif;
}
body {
  margin: 0;
  background: linear-gradient(180deg, #2a2d32 0%, #131313 99.17%) no-repeat fixed center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
